# Indian Export Dataset

### Context
India is one of the fastest developing nations of the world and trade between nations is the major component of any developing nation. This dataset includes the trade data for India for commodities in the HS2 basket.

### Content
The dataset consists of trade values for export and import of commodities in million US$. The dataset is tidy and each row consists of a single observation.

### Acknowledgements
The data is scraped using Selenium Webdriver from the Department of Commerce, Government of India.

### Inspiration
A few questions that can be answered using this dataset are:

1. What did India export the most in any given year?
2. Which commodity forms a major chunk of trade? Does it conform to theories of international trade?
3. How has the trade between India and any given country grown over time?
4. A visualization of this dataset would be a great way to explore more such questions.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
export = pd.read_csv("2018-2010_export.csv")
pd.options.display.max_colwidth = 100

In [7]:
export.head()

,HSCode,Commodity,value,country,year
0,2,MEAT AND EDIBLE MEAT OFFAL.,0.18,AFGHANISTAN TIS,2018
1,3,"FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUATIC INVERTABRATES.",0.00,AFGHANISTAN TIS,2018
2,4,"DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDIBLE PROD. OF ANIMAL ORIGIN, NOT ELSEWHERE SPEC. OR...",12.48,AFGHANISTAN TIS,2018
3,6,LIVE TREES AND OTHER PLANTS; BULBS; ROOTS AND THE LIKE; CUT FLOWERS AND ORNAMENTAL FOLIAGE.,0.00,AFGHANISTAN TIS,2018
4,7,EDIBLE VEGETABLES AND CERTAIN ROOTS AND TUBERS.,1.89,AFGHANISTAN TIS,2018

In [8]:
export.tail()

,HSCode,Commodity,value,country,year
137018,95,"TOYS, GAMES AND SPORTS REQUISITES; PARTS AND ACCESSORIES THEREOF.",0.03,ZIMBABWE,2010
137019,96,MISCELLANEOUS MANUFACTURED ARTICLES.,0.45,ZIMBABWE,2010
137020,97,WORKS OF ART COLLECTORS' PIECES AND ANTIQUES.,0.00,ZIMBABWE,2010
137021,98,PROJECT GOODS; SOME SPECIAL USES.,0.00,ZIMBABWE,2010
137022,99,MISCELLANEOUS GOODS.,0.07,ZIMBABWE,2010

NLP can be used to pick words & create a broad classification of different commodities which can then be clustered

In [5]:
print(export.isnull().sum())

HSCode           0
Commodity        0
value        14038
country          0
year             0
dtype: int64